<plugin
        id="peixo"
        name="peixo Reachability Analysis"
        description="Reachability Analysis for UML Diagrams"
        provider="Visual Paradigm"
        class="peixo.VPPlugin">

     <runtime>
         <library path="lib/com.microsoft.z3.jar" relativePath="true"/>
         <library path="lib/apfloat-1.10.1.jar" relativePath="true"/>
         <library path="lib/jgrapht-core-1.5.2.jar" relativePath="true"/>
         <library path="lib/jheaps-0.14.jar" relativePath="true"/>
    </runtime>

    <!--    Here is the Action Set-->
    <actionSets>
        <actionSet id="peixo.actionset">
            <action
                    id="peixo.actions.HotReload"
                    actionType="generalAction"
                    label="Reload Plugin Classes"
                    tooltip="Reload Plugin Classes"
                    style="normal"
                    menuPath="Tools">
                <actionController
                        class="peixo.actions.HotReloadController"/>
            </action>
            <action
                    id="peixo.actions.SelectDiagramsToProve"
                    actionType="generalAction"
                    label="Check Reachability"
                    tooltip="proves the active Sequence Diagramm for completeness"
                    style="normal"
                    menuPath="Tools">
                <actionController
                        class="peixo.actions.SelectDiagramsToProveController"/>
            </action>
        </actionSet>
    </actionSets>
</plugin>