<plugin
        id="peixo"
        name="Proof"
        description="Fundament fuer ein erweiterbares Plugin"
        provider="Visual Paradigm"
        class="peixo.VPPlugin">
<!--
     <runtime>
        <library path="com.microsoft.z3.jar" relativePath="true"/>
    </runtime>
-->
<!--    Here is the Action Set-->
    <actionSets>
        <actionSet id="peixo.actionset">
            <action
                    id="peixo.actions.HotReload"
                    actionType="generalAction"
                    label="Reload Plugin Classes"
                    tooltip="Reload Plugin Classes"
                    style="normal"
                    menuPath="Tools">
                <actionController
                        class="peixo.actions.HotReloadController"/>
            </action>
            <action
                id="peixo.actions.ProofForSeq"
                actionType="generalAction"
                label="Prove Diagramms"
                tooltip="proves the active Sequence Diagramm for completeness"
                style="normal"
                menuPath="Tools">
                <actionController
                    class="peixo.actions.ProofForSeqController"/>
            </action>
            <action
                    id="peixo.actions.SelectDiagramsToProve"
                    actionType="generalAction"
                    label="Show Pane Test"
                    tooltip="proves the active Sequence Diagramm for completeness"
                    style="normal"
                    menuPath="Tools">
                <actionController
                        class="peixo.actions.SelectDiagramsToProveController"/>
            </action>
        </actionSet>
    </actionSets>
</plugin>